<template>
  <main>
    <Header />
    <h1 class="text-3xl font-bold underline">Список фильмов</h1>

    <div class="columns-12 flex flex-row flex-wrap mt-3">
      <v-card
        v-for="film in films"
        :key="film.id"
        color="indigo"
        variant="outlined"
        class="w-1/3 space-x-4 text-left min-h-64"
        :style="`background-image: ${film.img}`"
      >
        <router-link :to="{ name: 'film', params: { id: film.id } }">
          <v-card-item>
              <div>
                <div class="text-h6 mb-1">
                  {{ film.name }}
                </div>
                <div class="text-caption">{{ film.description }}</div>
              </div>
            </v-card-item>
        </router-link>
      </v-card>
    </div>
  </main>
</template>

<script>
import { ref, computed  } from 'vue';
import {  useRoute } from 'vue-router';
import FILMS_DATA from '@/utils/database.json';
import Header from '@/components/Header.vue';

export default {
  components: { Header },
  setup() {
    const route = useRoute()
    const id = computed(() => route.params.id)
    const films = ref(FILMS_DATA);

    return {
      route,
      id,
      films,
    }
  }
}
</script>