<script lang="ts">
import { ref } from 'vue';

export default {
  setup() {
    const dialog = ref(false); 
    return {
      dialog
    };
  }
}
</script>

<template>
  <div class="flex flex-row justify-between w-full">
    <div>
      <span>HM</span>
      <p>
        Главная
      </p>
    </div>
    <div>
      <v-btn @click="dialog = true">
        Профиль
      </v-btn>
    </div>
    
    <v-dialog
      v-model="dialog"
      width="700"
    >
      <v-card
        max-width="700"
        class="px-2"
      >
        <div class="my-2">
          Gfyegvuhfeirhveo
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>

<style scoped>
</style>
